body {
    
  }

.container{
    
}

.window {
    background-color:  #0A3EDE;
    border-style: double;
    border-color: #0A3EDE;
    border-radius: 5px;
    align-content: center;
    color: white;
    margin: 5% 10% 0% 10%;
    font-family: Segoe UI;
}
.header {
    background-color:  #0A3EDE;
    border-style: double;
    border-color: #0A3EDE;
    border-radius: 5px;
    
    align-content: center;
    color: white;
    margin: 0% 10% 0% 5%;
    font-family: Segoe UI;
}

.closeX {
    background-color: #BB4B2B;
    
    width: 10%;
    height: 24px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 3px;
    position: absolute;
    right: 11%;
}

.message {
    background-color: #ECE9D8;
    color: black;
    padding: 1% 16% 10% 16%;
    text-align: center;
}


.buttons button{
    width: 60px;
    cursor: pointer;
    text-align: center;
}
.imageWrapper {
    text-align: center;
}
.imageWrapper img{
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .imageWrapper img{
        width: 300px;
    }
    
  }

.buttonContent button{
    cursor: pointer;
}