body {
  background-image: url("https://data.whicdn.com/images/290733198/original.gif");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: codeBold;
  src: url('./fonts/CODE\ Bold.otf');
}

@font-face {
  font-family: codeLight;
  src: url('./fonts/CODE\ Light.otf');
}